body {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(45deg, #02001f, #1f1b4e);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header{
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  display: flex;
  background: #fff;
  color: #02001f;
}

header div{
  font-size: 0.9rem;
  line-height: 1.2;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 20px 20px;
  padding: 10px;
  color: #fff;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9{
  font-weight: bolder;
  color: #fff;
  text-align: center;
}

.item9, .item17, .item25, .item33{
  font-weight: bold;
  text-align: right;
}

input:disabled{
  opacity: 0.3;
}

/* .slider */
.slider {
  width: 80px;
  height: 22px;
  background: #333;
  margin: 0 0;
  position: relative;
  border-radius: 50px;
}

.slider:after {
  content: 'NO';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/24px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.slider:before {
  content: 'YES';
  /*color: #27ae60;*/
  color: #F8CA4D;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/24px Arial, sans-serif;
  font-weight: bold;
}

.slider label {
  display: block;
  width: 34px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.slider input[type=checkbox] {
  visibility: hidden;
}
.slider input[type=checkbox]:checked + label {
  left: 43px;
}
/* end slider */

/* Plus Button */

.plus, .tick{
  margin: 0 5px 0 5px;
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  color: #fff;
  background: #333;
  border-radius: 50%;
  border: none;
}

.minus, .minus2{
  margin: 0 0 0 5px;
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  color: #fff;
  /*background: #333;*/
  border-radius: 50%;
  border: none;
}

.plus::after{
    content: "+";
    font-size: 1.6em;
    line-height: 1.1em;
}

.plus:hover{
  /*transform: rotate(45deg);*/
  background-color: #F8CA4D;
  color: #1a1a1a;
}

.plus:hover .chosen01, .chosen02, .chosen03{
  /*transform: rotate(45deg);*/
  background-color: #F8CA4D;
}

.plus:disabled{
  opacity: 0.3;
}

.plus:disabled:hover{
  background: #333;
  color: #fff;
}

.minus:hover, .minus2:hover{
  color: #F8CA4D;
}

.minus::after, .minus2::after{
  content: "x";
  font-size: 1.6em;
  line-height: 1.1em;
}

.chosen01:first, .chosen04:first, .chosen07:first, .chosen10:first{
  margin-left: 0;
}

.item10, .item15, .item18, .item23, .item26, .item31, .item34, .item39{
  margin: 0 auto 0 auto;
}

.chosen01, .chosen02, .chosen03, .chosen04, .chosen05, .chosen06, .chosen07, .chosen08, .chosen09, .chosen10, .chosen11, .chosen12{
  background: #12A3C919;
  color: #fff;
  padding: 5px 5px 5px 5px;
  font-size: 0.9em;
  margin-left: 5px;
  border-radius: 50px;
}

#selectedCommsFrequency{
  line-height: 1.8em;
}

.frequency01, .frequency02, .frequency03, .frequency04{
  display: inline;
  width: 40%;
  margin-left: 6px;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer span{
  position: fixed;
  bottom: -10px;
  color: #fff;
  font-size: 2.4em;
}

footer #border{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100vw;
  background: #fff;
}

#search .textInput {
  background: #fff;
  color: #02001f;
  border: 2px solid white;
  border-radius: 0.25em;
  width: 150px;
  position: relative;
}

.textInput {
  background: #fff;
  color: #02001f;
  border: 2px solid white;
  border-radius: 0.25em;
  position: relative;
}

select{
    background: none;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 100%;
    max-height: 200px;
    color: #fff;
}

select > option{
  background: #1f1b4e;
  padding: 4px;
  color: #fff;
}

#first{
  margin-left: 25vw;
  font-size: 1.4em;
}

#snomed-dropdown01,
#snomed-dropdown02,
#snomed-dropdown03,
#snomed-dropdown04,
#snomed-dropdown05,
#snomed-dropdown06,
#snomed-dropdown07,
#snomed-dropdown08,
#snomed-dropdown09,
#snomed-dropdown10,
#snomed-dropdown11,
#snomed-dropdown12,
#snomed-dropdown13,
#snomed-dropdown14,
#snomed-dropdown15{
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  list-style: none;
  display: inline-block;
  width: 100%;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0;
  z-index: 5;
}

#snomed-dropdown01 li,
#snomed-dropdown02 li,
#snomed-dropdown03 li
#snomed-dropdown04 li,
#snomed-dropdown05 li,
#snomed-dropdown06 li,
#snomed-dropdown07 li,
#snomed-dropdown08 li,
#snomed-dropdown09 li,
#snomed-dropdown10 li,
#snomed-dropdown11 li,
#snomed-dropdown12 li,
#snomed-dropdown13 li,
#snomed-dropdown14 li,
#snomed-dropdown15 li{
    position: relative;
    padding: 3px;
    color: #fff;
}

#snomed-dropdown01 li:hover,
#snomed-dropdown02 li:hover,
#snomed-dropdown03 li:hover,
#snomed-dropdown04 li:hover,
#snomed-dropdown05 li:hover,
#snomed-dropdown06 li:hover,
#snomed-dropdown07 li:hover,
#snomed-dropdown08 li:hover,
#snomed-dropdown09 li:hover,
#snomed-dropdown10 li:hover,
#snomed-dropdown11 li:hover,
#snomed-dropdown12 li:hover,
#snomed-dropdown13 li:hover,
#snomed-dropdown14 li:hover,
#snomed-dropdown15 li:hover{
    padding: 4px;
    display: block;
    color: #02001f;
    background: #fff;
}

#snomed-dropdown01 li a,
#snomed-dropdown02 li a,
#snomed-dropdown03 li a,
#snomed-dropdown04 li a,
#snomed-dropdown05 li a,
#snomed-dropdown06 li a,
#snomed-dropdown07 li a,
#snomed-dropdown08 li a,
#snomed-dropdown09 li a,
#snomed-dropdown10 li a,
#snomed-dropdown11 li a,
#snomed-dropdown12 li a,
#snomed-dropdown13 li a,
#snomed-dropdown14 li a,
#snomed-dropdown15 li a{
  color: #fff;
  text-decoration: none;
}

#snomed-dropdown01 li,
#snomed-dropdown02 li,
#snomed-dropdown03 li,
#snomed-dropdown04 li,
#snomed-dropdown05 li,
#snomed-dropdown06 li,
#snomed-dropdown07 li,
#snomed-dropdown08 li,
#snomed-dropdown09 li,
#snomed-dropdown10 li,
#snomed-dropdown11 li,
#snomed-dropdown12 li,
#snomed-dropdown13 li,
#snomed-dropdown14 li,
#snomed-dropdown15 li{
    color: #fff;
    padding: 4px;
    display: block;
}

#snomed-dropdown01 li:hover .name,
#snomed-dropdown02 li:hover .name,
#snomed-dropdown03 li:hover .name,
#snomed-dropdown04 li:hover .name,
#snomed-dropdown05 li:hover .name,
#snomed-dropdown06 li:hover .name,
#snomed-dropdown07 li:hover .name,
#snomed-dropdown08 li:hover .name,
#snomed-dropdown09 li:hover .name,
#snomed-dropdown10 li:hover .name,
#snomed-dropdown11 li:hover .name,
#snomed-dropdown12 li:hover .name,
#snomed-dropdown13 li:hover .name,
#snomed-dropdown14 li:hover .name,
#snomed-dropdown15 li:hover .name{
    color: #02001f;;
    text-decoration: none;
}

#snomed-dropdown01 li:first-child,
#snomed-dropdown02 li:first-child,
#snomed-dropdown03 li:first-child,
#snomed-dropdown04 li:first-child,
#snomed-dropdown05 li:first-child,
#snomed-dropdown06 li:first-child,
#snomed-dropdown07 li:first-child,
#snomed-dropdown08 li:first-child,
#snomed-dropdown09 li:first-child,
#snomed-dropdown10 li:first-child,
#snomed-dropdown11 li:first-child,
#snomed-dropdown12 li:first-child,
#snomed-dropdown13 li:first-child,
#snomed-dropdown14 li:first-child,
#snomed-dropdown15 li:first-child{
    padding: 8px;
    color: #fff;
    pointer-events: none;
    width: auto; 
    margin-bottom: 8px;
    border: none;
    font-weight: bolder;
    margin-left: 10px;
}

#snomed-dropdown01 li:first-child:hover,
#snomed-dropdown02 li:first-child:hover,
#snomed-dropdown03 li:first-child:hover,
#snomed-dropdown04 li:first-child:hover,
#snomed-dropdown05 li:first-child:hover,
#snomed-dropdown06 li:first-child:hover,
#snomed-dropdown07 li:first-child:hover,
#snomed-dropdown08 li:first-child:hover,
#snomed-dropdown09 li:first-child:hover,
#snomed-dropdown10 li:first-child:hover,
#snomed-dropdown11 li:first-child:hover,
#snomed-dropdown12 li:first-child:hover,
#snomed-dropdown13 li:first-child:hover,
#snomed-dropdown14 li:first-child:hover,
#snomed-dropdown15 li:first-child:hover{
    padding: 4px;
    color: #000;
    background-color: RGB(197, 197, 197);
    pointer-events: none;
}

.hidden{
  display: none;
}